body {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	color: #ffffff;
	background-color: #849d8f;
	background-position: top center;
	background-repeat: no-repeat;
	min-width: 1200px;
	margin: 0;
	padding: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	border: 0;
}

img:not(.col-item img) {
	max-width: 100%;
	height: auto;
}

a {  
	color: #ffffff;
	text-decoration: none;
}

.site-navigation a,
.search a {
	display: block;
	padding: 7px 10px;
	margin-right: 4px;
}

.page-catalog .site-navigation-current {
	display: block;
	padding: 8px 12px;
}

.user-navigation a {
	display: block;
	padding: 9px 16px 9px 17px;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #ffffff;
	border-radius: 20px;
	color: #323232; 
	font-weight: bold;
}

.site-navigation-current {
	background-color: #d07058;
	color: #ffffff; 
	border-radius: 20px;
	font-weight: bold;
}

.page-catalog .site-navigation-current:hover,
.page-catalog .site-navigation-current:focus,
.page-catalog .site-navigation-current:active {
	background-color: #d07058;
	color: #ffffff; 
}

.catalog-menu a:hover { 
	background-color: #fbded7;
	color: #323232;
	border-radius: 0;
	font-weight: normal; 
}

.catalog-menu a:focus { 
	background-color: #f6b5a5;
	color: #323232;
	border-radius: 0;
	font-weight: normal;   
}

.catalog-menu a:active { 
	background-color: #d07058;
	color: #ffffff;
	border-radius: 0;
	font-weight: normal; 
}

.button {
	display: inline-block;
	margin: 20px 0 20px -4px;
	padding: 10px 20px;
	font-weight: bold;
	font-size:inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: top;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 50px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
	cursor: pointer;
}

.button:hover {
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.header {
	display: flex; 
	flex-direction: row; 
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 10px 27px;
	margin: 0 auto;
}

.header svg {
	fill: currentColor;
}   

.main-navigation {
	display: flex; 
	flex-direction: row; 
	justify-content: flex-start;
}

.header-logo {
	width: 158px;
	max-height: 70px;
}

.site-navigation {
	list-style: none;
	padding: 0 9px;
	margin: 13px 0;
}

.page-catalog .site-navigation {
	padding: 0 6px;
}

.site-navigation > li {
	position: relative;
	display: inline-block;
	vertical-align: middle;	
}

.site-navigation .catalog-menu {
	position: absolute;
	left: 1px;
	top: 35px;
	padding: 10px 0;
	visibility: hidden;
	width: 145px;
	margin: 5px 0 0 0;
	padding: 0;
	list-style: none;
	border-radius: 5px;
	background-color: #f8f7f4;
	overflow: hidden;
	z-index: 6;
}

.site-navigation .catalog-menu a {
	color: #323232;
	font-weight: normal;
}

.catalog-menu span {
	font-weight: bold;
}

.site-navigation > li:hover .catalog-menu {
	visibility: visible;
} 

.site-navigation .button {
	margin:  0;
	padding: 10px 15px;
}

.navigation {
	list-style: none;
	margin-left: auto;
	color: #ffffff;
}

.user-navigation {
	display: flex; 
	flex-direction: row; 
	justify-content: flex-end;	
	list-style: none;
	padding: 0;
	margin: 13px 0;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
}

.user-navigation li:not(:first-child) {
	margin-left: 10px;
}

.input {
	max-height: 43px;
	font-size: 16px;
	line-height: 14px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	flex-grow: 1;
}

.search-form input[type="search"] {
	padding: 20px 95px 20px 20px;
	margin: 20px 16px;
	color: #999999;
	box-sizing: border-box;
	border: 1px solid #cccccc;
	border-radius: 5px;
}

.modal-login input[type="text"],
.modal-login input[type="password"],
.feedback input[type="text"] {
	padding: 20px;
	margin: 5px 20px;
	color: #999999;
	box-sizing: border-box; 
	border: 1px solid #cccccc;
	border-radius: 5px;
}

.modal-login input[type="email"] {
	padding: 20px 15px;
	margin: 35px 11px 35px 20px;
	color: #999999;
	box-sizing: border-box;
	border: 1px solid #cccccc;
	border-radius: 5px;
}

.dispatch input[type="email"] {
	padding: 22px 13px;
	margin: 36px 15px 35px 21px;
	color: #999999;
	box-sizing: border-box;
	border: 1px solid #cccccc;
	border-radius: 5px;
}

.feedback input[type="email"] {
	padding: 20px;
	margin: 10px 11px 10px 20px;
	color: #999999;
	box-sizing: border-box;
	border: 1px solid #cccccc;
	border-radius: 5px;
}

.search-form {
	position: fixed;
	margin-left: -300px;
	background-color: #f8f7f4;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	border: 1px solid #cccccc;
	border-radius: 5px;
	width: 342px;
	padding: 0;
	z-index: 2;	
	display: flex;
}

.user-navigation > li {
	position: relative;
	display: inline-block;
	vertical-align: middle;	
}

.user-navigation .search-form {
	position: absolute;
	display: none;
	overflow: hidden;
}

.user-navigation > li:hover .search-form {
	display: block;
} 

.modal-login { 
	width: 278px;
	position: fixed;
	margin-left: -185px;
	background-color: #f8f7f4;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	border: 1px solid #cccccc;
	border-radius: 5px;
	z-index: 1;
}

.user-navigation > li {
	position: relative;
	display: inline-block;
	vertical-align: middle;	
}

.user-navigation .modal-login {
	position: absolute;
	display: none;
	overflow: hidden;
}

.user-navigation > li:hover .modal-login {
	display: block;
} 

.search {
	background-color: #a1b4a9;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	position: relative;
}

.search a {
	display: block;
	padding: 7px 10px;
	margin-right: 0;
}

.search-link:hover,
.search-link:focus,
.search-link:active {
	color: #323232;
	background-color: #ffffff;	
	border-radius: 50%;
}

.login-wrapper {
	font-weight: normal;
	display: flex;
	flex-direction: row-reverse;
	padding: 0 20px;
}

.login-wrapper button {
	padding: 10px 28px;
	border-radius: 20px;
}

.login-help {
	margin-left: 10px;
}

.login-help .link {
	color: #676766;
	text-decoration: none;
	border-bottom: 1px dashed #676766;
	padding: 1px;
}

.login,
.basket {
	position: relative;
	background-color: #a1b4a9;
	border-radius: 20px;
}

.login-link svg,
.basket-link svg {
	position: absolute;	
	top: 6px;
	left: 18px;	
}

.login-link span,
.basket-link span {
	padding-left: 28px;
}

.login-link:hover,
.login-link:focus,
.login-link:active,
.basket-link:hover,
.basket-link:focus,
.basket-link:active {
	color: #323232;
	background-color: #ffffff;
	border-radius: 20px;
}

.basket .basket-catalog-link {
	position: relative;
	padding-left: 45px;
	color: #323232;
	background-color: #ffffff;
	border-radius: 20px;
}

.basket-catalog-link::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 15px;
	width: 35px;
	height: 35px;
	background-image: url("../img/basket-red.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.basket table {
	border-collapse: collapse;
	padding: 10px 0;
	table-layout: fixed;
}

.page-catalog .col-item a {
	color: #323232;
	font-weight: normal; 
	margin: 0;
	padding: 5px 0 0 15px;
	text-align: left;
	font-size: 14px;
	line-height: 16px;
}

.col-item img {
	border-radius: 50%;
}

.col-item p {
	margin: 10px 0;
}

.basket-table .col-item {
	width: 90%;
	position: relative;
	padding-left: 20px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.col-item .modal-close{
	top: 10px;
	right: 280px;
}

.basket-table .col-quantity {
	width: 25%;
}

.basket-table .col-price {
	width: 15%;  
}

.total-price {
	margin-left: auto;
	padding: 15px;
	font-weight: bold;
	position: relative;
}

.total-price::before {
	content: " ";
	position: absolute;
	width: 500px;
	height: 2px;
	background-color: #cacac7;
	border-radius: 20px;
	top: -1px;
	left: -390px;
}

.modal-basket .button {
	margin-left: auto;
	margin-right: 13px;
	margin-bottom: 15px;
	margin-top: 0;
}

.basket-wrapper {
	display: flex;
	flex-direction: column;
}

.modal-basket {
	width: 540px;
	margin-left: -420px;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	color: #6b6a69;
	font-weight: normal;
	display: none;
}

.user-navigation .modal-basket {
	position: absolute;
	overflow: hidden;
}

.user-navigation > li:hover .modal-basket {
	display: block;
} 

.time-work {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-left: auto;
}

.time {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 5px;
}

.link-tel {
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}

.site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slider-item1.png");
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
	content: "";
	visibility: hidden;
}

.site-wrapper::before {
	background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
	background-image: url("../img/slider-item3.png");
}

.slider {
	position: relative;
	text-align: center;
	color: #ffffff;
	padding-top: 264px;
	margin: 0 27px;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slide-title {
	width: 700px;
	margin: 0 auto;
	font-size: 60px;
	line-height: 60.35px;
	font-weight: bold;
}

.slider-list .button {
	display: inline-block;
	padding: 10px 39px;
	margin: 30px 0;
	vertical-align: baseline;
	font-weight: bold;
	font-size: 32px;
	line-height: 44px;
}

.slider-list a {
	color: #ffffff; 
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls {
	position: absolute;
	bottom: 52px;
	left: 0;
	z-index: 20;
	font-size: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}

.slide {
	display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
	display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
	background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slider-item3.png");
}

.hot-offers {
	display: flex;
	justify-content: space-between;
	margin: 12px 27px;	
}

.offers-card {
	display: flex;
	flex-direction: column;
	flex-basis: 49%;
}

.offers-card.rb {
	background-color: #6e2b3b;
	background-image: url("../img/rb.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 15px;
}

.offers-card.choco { 
	background-color: #8d6c5f; 
	background-image: url("../img/choco.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 15px;
}

.offers-item {
	margin: 0;
	padding: 15px 18px;
}

.offers-card a {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	margin-left: auto;
	margin-right: 23px;
	margin-bottom: 22px;
	margin-top: 45px;
	padding: 11px 23px;
}

.offers-card h3 {
	position: relative;
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
}

.suggestion {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	margin: 0 20px;
}

.hit {
	margin: 5px 3px; 
}

.catalog {
	font-size: 16px;
	line-height: 22px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 0;
	margin: 0 10px;
}

.catalog-icecream {
	flex-basis: 25%;
	display: flex;
	flex-direction: column-reverse;
	position: relative;
}

.catalog-hit::before {
	content: "";
	background-image: url("../img/hit.svg");
	background-repeat: no-repeat;
	position: absolute;
	width: 61px;
	height: 61px;
	right: 0;
	left: 12px;
	top: 28px;
	z-index: 1;
}

.catalog-icecream-price {
	position: absolute;
	left: 15px;
	top: 225px;
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	margin: 10px 0;
	padding: 0;
}

.catalog-icecream-price b::before{
	content: "";
	background-image: url("../img/ruble.svg");
	background-repeat: no-repeat;
	position: absolute;
	width: 31px;
	height: 36px;
	right: 0;
	left: 80px;
	top: 8px;
}

.catalog-icecream-price span {
	position:relative;
	padding-left: 40px;
	font-size: 24px;
	line-height: 28px;
}

.link-name {
	margin: 0;
	padding: 0 16px;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.catalog-icecream a .link {
	padding: 0;
	margin: 0;
}

.catalog img,
.catalog-list img {
	border-radius: 50%;
	margin: 27px 13px 11px 13px;
}

.catalog-icecream-image {
	margin: 0;
	padding: 0;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-left: 0;
	margin: -4px 14px;	
}

.catalog-list .catalog-icecream {
	margin-bottom: 13px;
}

.catalog-icecream .button {
	display: none;
	padding: 11px 16px;
	position: relative;
	margin: 10px 50px 20px 50px;
}

.catalog-icecream:hover a {
	display: flex;
	position: relative;
	justify-content: center;
}

.action {
	width: 294px;
	position: absolute;
	margin-top: 73.5px;
	right: 0px;
	z-index: 3;
	background-color: rgb(255, 255, 255, 0.4);
}

.catalog-list .action {
	margin-top: 69.8px;
	width: 293px;
}

.catalog-icecream:hover {
	background-color: rgb(255, 255, 255, 0.4);
	padding-bottom: -20px;
}

.shop {
	background-color: #e8dbbc;
	background-image: url("../img/wafer.png");
	border-radius: 10px;
	background-position: top center;
	background-repeat: repeat;
	margin: 0 27px 40px 27px;
}

.shop-title { 
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: #323232;
	padding: 25px 0 23px 19px;
	margin: 36px 0 0 0;
}

.shop-features {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #323232; 
	list-style: none;
	margin: 0;
	padding-bottom: 2px;	
}

.shop-feature {
	max-width: 470px;
	position: relative;
	padding-left: 25px;
	margin: 0 35px 23px 10px;
}

.shop-feature svg {
	position: absolute;
	left: -30px;
	top: -14px;
}

.news {
	width: 560px;
	min-height: 210px;
	background-color: #ffffff;
	background-image: url("../img/strawberry.png");
	background-position: top center;
	background-repeat: no-repeat;
	border-radius: 10px;
	color: #323232;
	display: flex;
	flex-direction: column;
}

.news-blog {
	margin: 22px 0 6px 20px;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}

.news a {
	width: 300px;
	margin: 0 0 10px 20px;
	color: #323232; 
	text-decoration: underline;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

.form-dispatch {
	width: 550px;
	min-height: 210px;
	background: no-repeat #f8f7f4;
	border: 5px solid;
	border-image-source: url("../img/candy-border.png");
	border-image-slice: 10;
	background-size: contain;
	border-radius: 10px;
}

.dispatch {
	width: 550px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.email { 
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #5a5a5a;
	margin: 30px 20px 0 20px;
}

.dispatch button {
	font-size: 19px;
	line-height: 24px;
	font-weight: bold;
	margin-left: auto;
	margin-right: 22px;
	margin-top: 35px;
	margin-bottom: 35px;
	padding: 9px 15px;
}

.contacts {
	position: relative;
	margin: 39px auto 0;
	padding: 0;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	color: #323232;
}	

.contacts iframe {
	width: 100%;
	position: relative;
	z-index: 2;
	border: 0;
}

.contacts img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.contacts svg {
	transform: translate(266px, -295px);
	position: absolute;
	z-index: 3;
}

.direction {
	position: relative;
}

.contacts-direction {
	color: #323232;
    background-color: #f8f7f4;
    border: 1px solid #cccccc;
    border-radius: 5px;
    position: absolute;
    top: -374px;
    left: 869px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 304px;
}

.contacts-direction p {
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	margin: 29px 125px 3px 25px;
}

.edd {
	margin: 0 55px 0 25px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.contacts-direction .tl {
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	padding: 16px 23px;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.contacts-direction .button {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	margin: 10px 25px 30px;
	padding: 10px 28px;
}

.contacts-direction .link {
	color: #323232;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	margin-top: 5px;
}

.modal-direction {
	width: 398px;
	background-color: #f8f7f4;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	border: 1px solid #cccccc;
	border-radius: 5px;
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.feedback p {
	margin: 0;
	padding: 0;
}  

.answer {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	margin: 15px;
}

.feedback { 
	display: flex;
	flex-direction: column;
}

#comment-field {
	width: 357px;
	margin: 3px 0 0 20px;
	color: #999999;
	box-sizing: border-box;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 15px;
}

.modal-direction .button {
	margin-left: auto;
	margin-right: 20px;
}

.modal-close {
	width: 22px;
	height: 22px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 10px;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	top: 20px;
	left: 2px;
	width: 19px;
	height: 1px;
	background-color: #323232;
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.footer {
	width: 1200px;
	margin: 0 auto;
	margin-top: 12px;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}

.footer-catalog {
	margin-top: 48px;
}

.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 22px;
}

.footer-social { ;
	width: 186px;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0;
	margin-top: 20px;
	margin-left: 5px;
}

.social-button {
	width: 32px;
	height: 32px;
	border: 2px solid rgb(255, 255, 255, 0.5);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 186px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.extra-info {
	font-size: 13px;
	line-height: 18px;
	font-weight: bold;
	width: 335px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 11px;
	margin-left: 34px;
}

.extra-info li {
	margin-top: 5px;
	position: relative;
}

.extra-info ul {
	list-style: none;
	padding-left: 0;
	margin: 0 30px 0 0;
}

.extra-info svg {
	position: absolute;
	width: 18px;
	height: 15px;
	top: 2px;
	left: -24px;
}

.footer-copyright {
	display: flex;
	flex-direction: column;
	margin: 0;
}	

.footer-copyright a {
	margin: 0;
}

.page-wrapper {
	display: flex;
	flex-direction: row-reverse;
	flex-basis: 100%;
	margin-top: -6px;
}

.breadcrumbs-wrapper {
	display: flex;
	flex-direction: column-reverse;
}

.breadcrumbs {
	list-style: none;
	display: flex;
	padding-left: 0;
	margin-top: 27px;
	margin-bottom: auto;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
}

.breadcrumbs-current {
	position: relative;
	padding-left: 22px;
	padding-right: 18px;	
}

.breadcrumbs-current-link::before {
	content: "≫";
	position: absolute;
	right: 7px;
}

.breadcrumbs-current-link::after {
	content: "≫";
	position: absolute;
	left: 7px;
}

.page-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
	margin: 7px 0 9px 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="search"].visually-hidden,
input[type="text"].visually-hidden, 
input[type="password"].visually-hidden, 
input[type="sabmit"].visually-hidden, 
input[type="email"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.pagination {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	padding: 0 25px;
	margin-top: 67px;
}

.pagination-item a {
	float: right;
	padding: 5px 10px;
	text-decoration: none;
}

.active { 
	color: #323232;
	background-color: #ffffff;
	border-radius: 50%;
}

.pagination .next {
	background-image: url("../img/icon-right-small.svg");
	color: #ffffff;
	background-repeat: no-repeat;
	background-position: 15px 7px;
	width: 5px;
	height: 15px;
}

.pagination .back {
	background-image: url("../img/icon-right-small.svg");
	color: #ffffff;
	background-repeat: no-repeat;
	background-position: 18px 5px;
	width: 5px;
	height: 15px;
	transform: rotate(180deg);
}

.pagination a:hover:not(.active):not(.next):not(.back){ 
	background-color: #9db1a5;
	border-radius: 50%;  
}

.pagination a:focus:not(.active):not(.next):not(.back){ 
	color: #323232;
	background-color: #ffffff;
	border-radius: 50%;
}

.filters {
	width: 862px;
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
	line-height: 16px; 
	font-weight: normal;
	padding-bottom: 13px;
	padding-left: 25px;
}

.filters p {
	padding: 6px 17px;
	margin: 0;
}

.sorting {
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-right: 13px;
	position: relative;
	overflow: hidden;
}

.filter-sorting {
	width: 193px;
	background-color: #abbcb2;
	border-radius: 20px;
	overflow: hidden;
}

.filter-sorting select {
	width: 220px;
	padding: 7px 0 7px 15px;
	background-color: #abbcb2;
	border-radius: 20px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	border: none;
}

.sorting p {
	position: relative;
}

.filter-sorting svg {
	content: "";
	position: absolute;
	left: 170px;
	top: 40px;
	fill: currentColor;
	pointer-events: none;
}

.filter-sorting:hover select,
.filter-sorting:hover svg {
	color: #323232;
}

.filter-fat {
	padding: 10px 28px;
	background-color: #abbcb2;
	border-radius: 20px;
}

.filter-fat label {
	position: relative;
	cursor: pointer;
	padding: 0 25px;
}

.filter-fat label:last-child {
	padding-right: 0;
}

.fat-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -11px;
	top: -5px;
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.fat-input-checkbox:checked + label::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	left: -11px;
	top: -5px;
	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filler-input-checkbox:disabled + label,
.fat-input-checkbox:disabled + label {
	opacity: 0.4;
}

.filter-filler {
	padding: 12px 45px 12px 19px;
	background-color: #abbcb2;
	border-radius: 20px;
}

.filler p {
	margin: 7px 0 0 0;
}

.filter-filler label {
	position: relative;
	cursor: pointer;
	padding: 0 27px 0 30px;
}

.filter-filler label:last-child {
	padding-right: 0;
}

.filler-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: 0;
	top: -1px;
	width: 25px;
	height: 25px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filler-input-checkbox:checked + label::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0;
	top: -1px;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-button {
	padding: 8px 28px;
	color: #e5eae7;
	background: #a6b7ae;
	border: 1px solid #e5eae7;
	border-radius: 20px;
	margin-left: auto;
	margin-right: 0;
	margin-top: 38px;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.filter-button:hover,
.filter-button:focus {
	color: #323232;
	background-color: #ffffff;
}

.price {
	position: relative;
	margin: 0;
	padding: 0 15px 0 0;
	font-weight: bold;
}

.price-input {
	border: none;
	background-color: #849d8f;
	color: #ffffff;
	width: 27px;
	padding: 0 0 0 6px;
	margin: 0;
}

.price p {
	padding: 6px 19px;
}

.filter-price {
	width: 220px;
	height: 35px;
	background-color: #abbcb2;
	border-radius: 20px;
}

.range-from svg {
	position: absolute;
	left: 38px;
	top: 37px;
}

.range-before svg {
	position: absolute;
	left: 136px;
	top: 37px;
}

.filter-price::before {
	content: "";
	position: absolute;
	width: 187px;
	height: 4px;
	background: #ffffff;
	top: 44px;
	left: 12px;
}

.modal-show {
	display: block;
}

@-moz-document url-prefix() {
	.catalog-icecream-price b::before {
		left: 95px; 
	}

	.action {
		bottom: -70px;
	}

	.catalog-icecream .button {
		margin: 9px 50px 20px 50px;
	}

	.filter-sorting select {
		border: none;
		-moz-appearance: none;
	}

	.sorting {
		margin-right: 7px;
	}

	.filter-sorting svg {
		left: 185px;
		top: 43px;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.offers-card a {
		margin-left: 350px;
	}

	.catalog-icecream-price b::before {
		left: 95px; 
	}

	.search-form {
		width: 370px;
	}

	.modal-login {
		width: 320px;
	}

	.filter-sorting select {
		border: none;
	}

	.sorting {
		margin-right: 5px;
	}

	.price {
		margin-right: 5px;
	} 

	.filter-sorting svg {
		left: 195px;
		top: 44px;
	}

	.slide-title {
		width: 720px;
	} 

	.contacts-direction .button {
		margin: 25px 20px 30px 20px;
	}  
}

@supports (-ms-ime-align:auto) {
	.filter-sorting select {
		border: none;
	}

	.action {
		bottom: -70px;
		background-color: #9bafa3;
	}

	.catalog-icecream:hover {
		background-color: #9bafa3;
	}
}