body {
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	font-weight: bold;
	color: #ffffff;

	background-color: #849d8f;
	background-position: top center;
	background-repeat: no-repeat;

	min-width: 1200px;
	margin: 0;
	padding: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

a {  
	color: #ffffff;
	text-decoration: none;
}

 a:hover { 
	background-color: #fbded7;
	color: #323232; 
 }

 a:focus { 
	background-color: #f6b5a5;
	color: #323232;  
}

 a:active { 
	background-color: #d07058;
	color: #ffffff;
 }

.site-navigation a,
.user-navigation a,
.catalog-icecream a {
	display: block;
	margin-left: -1px;
	padding: 10px 10px;
	color: #ffffff;
}

.button {
  display: inline-block;
  margin: 20px 0 20px -4px;
  padding: 10px 20px;

  font-weight: bold;
  font-size:inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.container {
	width: 1200px;
	margin:  0 auto;
	padding: 10px 25px;
}

.header {
	display: flex; 
 	flex-direction: row; 
 	justify-content: flex-start;
   margin: 0 auto;
}   

.main-navigation {
 	display: flex; 
 	flex-direction: row; 
 	justify-content: flex-start;
	font-size: 14px;
 	line-height: 16px;
 	font-weight: normal;	
	color: #ffffff;
}

.header-logo {
	width: 158px;
	max-height: 70px;
}

.site-navigation {
 	list-style: none;
 	padding-left: 0;
}

.site-navigation > li {
 	position: relative;
	display: inline-block;
 	margin-right: -4px;
}

.site-navigation .catalog {
 	position: absolute;
	left: 1px;
	display: none;
	width: 145px;
	margin: 0;
 	padding: 0;
	list-style: none;
 	border-radius: 2%;
	background-color: #f8f7f4;
}

.site-navigation .catalog a {
	margin-bottom: -1px;
	color: #323232;
}

.site-navigation > li:hover .catalog {
	display: block;
} 

.site-navigation .button {
	padding-top: 10px;
	margin:  0;
}

.navigation {
	display: flex; 
 	flex-direction: row; 
	flex-wrap: wrap;
 	justify-content: flex-end;
 
 	width: 267px;
	list-style: none;
	margin-left: auto;
}

.user-navigation {
	display: flex; 
 	flex-direction: row; 
 	justify-content: flex-end;	
}

.input {
	max-height: 43px;
	font-size: 16px;
	line-height: 14px;
   border: 1px solid #cccccc;
   border-radius: 5px;
   flex-grow: 1;
}

input[type="search"],
input[type="text"],
input[type="password"] {
  padding: 20px;
  margin: 5px 20px;
  color: #999999;
  box-sizing: border-box; 
  border: 1px solid #cccccc;
  border-radius: 5px;
}

input[type="email"] {
  padding: 20px;
  margin: 20px;
  color: #999999;
  box-sizing: border-box; 
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.search-form {
   position: fixed;
   margin-left: -450px;
	background-color: #f8f7f4;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	border: 1px solid #cccccc;
   border-radius: 5px;
	width: 342px;
	padding: 10px 0;
	z-index: 2;	
	display: flex;
	display: none;
}

.search .search-link {
	position: relative;
	padding-left: 50px;
}

.search-link::before {
	content: "";

	position: absolute;
	top: -10px;
	left: 10px;
	width: 17px;
	height: 17px;
	fill: #ffffff;

	background-image: url("../img/loupe.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.search-link:hover::before,
.search-link:focus::before,
.search-link:active::before {
	opacity: 1;
}

.search {
	background-color: #f8faf9;
	opacity: 0.3;
   width: 34px;
   height: 34px;
   border-radius: 50%;
}

.modal-login { 
	width: 278px;
	position: fixed;
   margin-left: -66px;
	background-color: #f8f7f4;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	border: 1px solid #cccccc;
   border-radius: 5px;
   z-index: 1;
   display: none;
}

.login-wrapper {
	font-weight: normal;
	display: flex;
	flex-direction: row-reverse;
	padding: 0 20px;
}

.login-help {
	margin-left: 10px;
}

.login .login-link {
	position: relative;
	padding-left: 50px;
}

.login-help .link {
	color: #676766;
	text-decoration: none;
   border-bottom: 1px dashed #676766;
   padding: 1px;
}

.login-link::before {
	content: "";

	position: absolute;
	top: 10px;
	left: 25px;
	width: 22px;
	height: 22px;

	background-image: url("../img/entrance.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
	background-color: #ffffff;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
	opacity: 1;
}

.login {
	
}

.basket .basket-link {
	position: relative;
	padding-left: 50px;
}

.basket-link::before {
	content: "";

	position: absolute;
	top: 10px;
	left: 25px;
	width: 35px;
	height: 35px;

	background-image: url("../img/basket.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.basket-link:hover::before,
.basket-link:focus::before,
.basket-link:active::before {
	opacity: 1;
}

.basket .basket-catalog-link {
	position: relative;
	padding-left: 50px;
}

.basket-catalog-link::before {
	content: "";

	position: absolute;
	top: 10px;
	left: 25px;
	width: 35px;
	height: 35px;

	background-image: url("../img/basket-red.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.basket-catalog-link:hover::before,
.basket-catalog-link:focus::before,
.basket-catalog-link:active::before {
	opacity: 1;
}

.basket table {
   border-collapse: collapse;
   margin: 10px;
   table-layout: fixed;
}

.col-item a {
	color: #6b6a69;
	font-weight: normal; 
}

.basket-table {
	display: flex;
	width: 100%;
}

.basket-table .col-item {
  width: 60%;
  margin-left: 20px;
  position: relative;
  padding-left: 20px;
}

.col-item .modal-close{
  top: 10px;
  right: 300px;
}

.basket-table .col-quantity {
  width: 25%;
}

.basket-table .col-price {
   width: 15%;  
   text-align: left;
}

.basket-table .price {
 	font-weight: bold;
 	
}

.col-total {
	text-align: right;
}
.modal-basket {
	width: 540px;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	color: #6b6a69;
	font-weight: normal;
	display: flex;
	flex-direction: column;
	display: none;
}

.modal-basket .button {
	margin-left: auto;
	margin-right: 13px;
	margin-bottom: 15px;
	margin-top: 0;
}

.time-work {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.time {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}

.tel {
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-item3.png");
}

.slider {
  position: relative;
  text-align: center;
  color: #ffffff;
  margin: 0 25px;
  padding-top: 240px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-title {
  width: 800px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-list .button {
  display: inline-block;
  padding: 12px 44px;
  margin: 30px 0;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
}

.slider-list a {
  color: #ffffff; 
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

.hot-offers {
	display: flex;
	justify-content: space-between;
	margin: 22px;	
}

.offers-card {
	display: flex;
	flex-direction: column;
	flex-basis: 49%;
}

.offers-card.rb {
	background-image: url("../img/rb.png");
   background-position: top center;
	background-repeat: no-repeat;
	border-radius: 10px;
}

.offers-card.choco {  
	background-image: url("../img/choco.png");
	background-position: top center;
	background-repeat: no-repeat;
	border-radius: 10px;
}
	
.offers-item {
	margin: 25px 20px;
}

.offers-card button {
	margin-left: auto;
	margin-right: 25px;
	margin-bottom: 25px;
}

.offers-card h3 {
	position: relative;
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
}

.suggestion {
	font-size: 17px;
	line-height: 22px;
	margin: 0 0 0 25px;
}

.catalog {
  font-size: 16px;
  line-height: 22px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
}

.catalog-icecream {
	flex-basis: 25%;
	display: flex;
	flex-direction: column-reverse;
	position: relative;
}

.catalog-hit::before {
   content: "";
   background-image: url("../img/hit.svg");
 	background-repeat: no-repeat;
 	position: absolute;
 	width: 61px;
 	height: 61px;
 	right: 0;
 	left: 20px; 
 	top: 90px;
}

.catalog-icecream-price {
	position: absolute;
	bottom: 45px;
	left: 15px;
 	font-size: 45px;
 	line-height: 45px;
 	font-weight: bold;
}

.catalog-icecream a {
	text-align: center;
}

.link img {
	border-radius: 50%;
}

.shop {
 	background-color: #849d8f;
	background-image: url("../img/wafer.png");
	border-radius: 10px;
 	background-position: top center;
 	background-repeat: repeat;
 	margin: 25px 25px;
}

.shop-title { 
	font-size: 24px;
	line-height: 30px;
	color: #323232; 
	padding: 20px 0 0 20px;
}

.shop-features {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;

	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #323232; 
	list-style: none;	
 }

 .shop-feature {
 	max-width: 470px;
 	position: relative;
 	padding-left: 30px;
 	margin: 0 25px 20px 10px;
 }

.shop-feature svg {
	position: absolute;
   left: -25px;
   top: -10px;
}

.news {
	width: 560px;
	min-height: 210px;
	background-image: url("../img/strawberry.png");
	background-position: top center;
	background-repeat: no-repeat;
	border-radius: 10px;
	background-color: #849d8f;
	color: #323232;
	display: flex;
	flex-direction: column;
}

.news-blog {
	margin: 30px 0 10px 15px;
	font-size: 16px;
	line-height: 22px;
}

.news a {
	width: 300px;
	margin: 0 0 10px 15px;
	color: #323232; 
	text-decoration: underline;
	font-size: 24px;
	line-height: 30px;
}

.form-dispatch {
	width: 550px;
 	min-height: 210px;
 	background: no-repeat #f8f7f4;
 	border: 5px solid;
 	border-image-source: url("../img/candy-border.png");
 	border-image-slice: 10;
  	border-radius: 10px;
 }

.dispatch {
	width: 550px;
	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	flex-wrap: wrap;
}

.email { 
	font-size: 16px;
 	line-height: 22px;
 	font-weight: normal;
 	color: #5a5a5a;
 	margin: 30px 25px 0 20px;
}

.dispatch button {
	margin-left: auto;
	margin-right: 20px;
	margin-bottom: 40px;
	
}

.contacts {
	width: 1200px;
	margin: 0 auto;
	padding: 0 0;
 	font-size: 14px;
 	line-height: 20px;
 	font-weight: normal;
 	text-align: left;
  	color: #323232;
}

.contacts svg {
	transform: translate(265px, -295px);
}

.contacts-direction {
	width: 200px;
	background-color: #f8f7f4;
	border: 1px solid #cccccc;
   border-radius: 5px;
   transform: translate(930px, -535px);
   padding: 25px 25px 5px 25px;

   display: flex;
   flex-direction: column; 
}

.contacts-direction .link {
	color: #323232;
	font-size: 18px;
 	line-height: 24px;
	font-weight: bold;
}

.modal-direction {
	position: fixed;
	width: 398px;
	background-color: #f8f7f4;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	border: 1px solid #cccccc;
   border-radius: 5px;
   position: relative;
}

.answer {
	font-size: 18px;
	line-height: 20px;
   font-weight: bold;
   margin-left: 20px;
}

.feedback { 
	width: 357px;
	display: flex;
   flex-direction: column;
}

#comment-field {
  padding: 20px;
  margin: 5px 20px;
  color: #999999;
  box-sizing: border-box; 
  border: 1px solid #cccccc;
  border-radius: 5px;
  flex-grow: 1;
}

.modal-direction .button {
	margin-left: auto;
	margin-right: 20px;
	margin-bottom: 20px;
}

.modal-close {
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 1px;
  background-color: #323232;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.footer {
	width: 1200px;
	margin:  0 auto;
	padding: 10px 25px;
 	font-size: 12px;
	line-height: 18px;
}

.footer-container {
 	display: flex;
 	flex-direction: row;
   justify-content: space-between;	
}

.footer-social { 
	width: 186px;
	list-style: none;
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
}

.social-button {
	width: 40px;
   height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-social ul {
   display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 186px;
	list-style: none;
	margin: 0 auto;
   padding: 0;
}

.extra-info {
	width: 310px;
	display: flex;
	flex-wrap: wrap;
   justify-content: flex-start;
	list-style: none;
	padding-left: 0;
}

.extra-info li{
	display: flex;
	justify-content: center;
   margin: 0 10px 0 15px;	
   position: relative;
}

.extra-info svg {
	position: absolute;
   left: -25px;
   width: 18px;
   height: 15px;
}

.footer-copyright {
	display: flex;
	flex-direction: column;
	color: #ffffff;
}

.breadcrumbs-wrapper {
	display: flex;
	flex-direction: column-reverse;
}

.breadcrumbs {
	list-style: none;
	display: flex;
	padding-left: 0;
	margin-bottom: auto;
}

.page-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
	text-align: left;
	color: #fefefe;
	margin-top: auto;
}

.breadcrumbs-item .breadcrumbs-link {
	position: relative;
	padding-right: 25px;
}

.breadcrumbs-link::before,
.breadcrumbs-current-link::before {
	content: "";

	position: absolute;
	top: 5px;
	left: 25px;
	width: 35px;
	height: 35px;

	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	transform: translate(45px, -5px) scale(0.7);
}

.breadcrumbs-link::after,
.breadcrumbs-current-link::after {
   content: "";

	position: absolute;
	top: 5px;
	left: 20px;
	width: 35px;
	height: 35px;

	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	transform: translate(45.5px, -5px) scale(0.7);
}

.breadcrumbs-item .breadcrumbs-current-link {
	position: relative;
	padding-right: 25px;
}


.visually-hidden:not(:focus):not(:active),
input[type="search"].visually-hidden,
input[type="text"].visually-hidden, 
input[type="password"].visually-hidden, 
input[type="sabmit"].visually-hidden, 
input[type="email"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin: 40px 0;
}

.catalog-icecream .button {
	display: none;
}

.catalog-icecream .button :focus{
   
}

.pagination-list {
	font-size: 16px;
   line-height: 18px;
	padding: 40px 0 25px 0;
   margin: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
   position: relative;
   list-style: none;
}

.pagination-item a {
  display: block;
  padding: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff; 
}

.pagination-item-current {
  color: #696969;
  content: "";

  position: absolute;
  right: 155px;
  top: 45px;

  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff; 
  border: 2px solid #ffffff;
  text-align: center;
}

.pagination-list .next {
  background-image: url("../img/icon-right-small.svg");
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: 5px 12px;
  text-indent: -5000px;
}

 .pagination-list a:focus { 
   opacity: 0.3;
  
}

.pagination-list a:active { 
}



